* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background-color: #ffffff;
}

h1,
h2,
h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

li {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

#headhead {
    background-color: #49494e;
    margin-bottom: 100px;
}

header .wrapper {
    height: 60px;
}

.logo {
    background: url(images/dpg_white.svg) no-repeat 5% center;
    width: 70%;
    max-width: 350px;
    margin-right: auto;
    height: 60px;
    text-indent: -10000px;
    float: left;
    padding-top: 0px;
}

.logo:hover {
    cursor: pointer;
}

nav {
    height: 100%;
}

.drop-icon {
    display: block;
    height: 60px;
    width: 90px;
    background: url(images/dropdown_wh.png) no-repeat 50% center;
    cursor: pointer;
    margin-left: auto;
}

.drop-icon:hover {
    background-color: rgb(192, 192, 192);
}

header nav ul {
    overflow: hidden;
    height: 0;
    max-width: 110px;
    min-width: 40px;
    margin-left: auto;
    margin-right: 18px;
}

header nav ul.open {
    height: auto;
}

header nav ul li {
    float: none;
    text-align: right;
    width: 100%;
    margin: 0;
}

header nav ul li a {
    color: #ffffff;
    padding: 10px;
    border-bottom: 2px solid #2b2b2b;
    border-left: 2px solid #2b2b2b;
    border-right: 2px solid #2b2b2b;
    display: block;
    margin: 0;
    text-decoration: none;
    background-color: #49494e;
}

header nav ul li #first {
    border-top: 2px solid #2b2b2b;
    border-radius: 10px 10px 0 0;
}

header nav ul li #second {
    border-radius: 0 0 10px 10px;
}

header nav ul li a:hover {
    background-color: rgb(96, 95, 99);
}

@media (min-width: 600px) {

    header {
        background-color: #cacaca;
    }

    .logo {
        width: 100px;
        background: url(images/dpg_white.png) no-repeat 50% center;
    }

    header .wrapper {
        width: 90%;
        max-width: 900px;
        margin: 0 auto;
    }

    .drop-icon {
        display: none;
    }

    #drop-list {
        width: 200px;
    }

    header nav ul {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 200px;
    }

    header nav ul li a {
        width: 80px;
        font-size: 20px;
        text-align: center;
    }

    header nav ul li a,
    header nav ul li #first,
    header nav ul li #second {
        border: none;
        border-radius: 10px;
    }
}

/* 
 *
 * INTRO SECTION
 *
 */

.intro {
    margin: 85px auto 0 auto;
}

.intro h1,
.intro p {
    color: #000000;
}

.intro h1 {
    border-bottom: 2px solid #000000;
    text-align: center;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}

.intro p {
    padding-top: 1em;
    font-size: 20px;
    line-height: 1.5em;
    text-align: left;
    width: 90%;
    margin: 0 auto;
    max-width: 750px;
}

@media (min-width: 600px) {
    .intro {
        margin: 50px auto 0 auto;
    }
}

@media (min-width: 1200px) {
    .intro {
        width: 400px;
        margin: 0 auto;
    }
}

/* 
 *
 * MAIN SECTION
 *
 */
main h1 {
    color: #000000;
    text-align: center;
    padding-bottom: 10px;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    border-bottom: 3px solid #000000;
}

.main-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 1200px) {

    .main-wrapper {
        flex-direction: row;
        width: 95%;
        max-width: 1600px;
        margin: 100px auto 0 auto;
        justify-content: space-around;
    }

    main h1 {
        margin-top: 0;
    }
}

/* 
 *
 * GAME SECTION
 *
 */

.game {
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    background-color: #525258;
    margin-bottom: 60px;
    margin-top: 30px;
    border: solid 2px #313131;
    border-radius: 10px;
}

.game:first-of-type {
    margin-top: 30px;
}

.game p {
    font-size: 18px;
}

.game-title {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    padding-top: 5px;
    padding-bottom: 2px;
    text-align: left;
    width: 90%;
    margin: 0 auto;
    font-style: italic;
    text-transform: uppercase;
}

.game-startDate {
    padding-top: 10px;
}

.game-endDate {
    padding-bottom: 5px;
}

.game-head {
    margin: 0 auto;
}

.game-head p {
    text-align: right;
    font-size: 16px;
    margin-top: 2px;
}

.game-startDate,
.game-endDate {
    color: #ffffff;
    text-align: left;
    width: 90%;
    margin: 0 auto;
}

.game-cover {
    padding-bottom: 10px;
    width: 90%;
}

.review {
    text-align: left;
    color: #ffffff;
    width: 90%;
    margin: 0 auto;
    border-top: 2px solid #ffffff;
    padding-top: 5px;
    margin-bottom: 30px;
}

.review p {
    padding-bottom: 3px;
}

#stats {
    font-weight: bold;
}

@media (min-width: 600px) {
    .game {
        max-width: 700px;
    }
}

@media (min-width: 768px) {
    .game p {
        font-size: 20px;
    }

    .game-title {
        font-size: 28px;
    }

    .game-head p {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    .game {
        width: 75%;
        max-width: 850px;
        align-items: start;
        padding-top: 40px;
    }

    .game-title {
        font-size: 36px;
    }

    .game-cover {
        margin: 0 auto;
        width: 80%;
    }

    .under-cover {
        margin: 0 auto;
    }

    .review {
        width: 90%;
    }
}

@media (min-width: 1200px) {
    .game {
        width: 100%;
        max-width: 1000px;
        padding-bottom: 20px;
    }

    .game-cover {
        width: 90%;
        max-width: 850px;
    }

    .game-wrapper {
        width: 70%;
    }
}

.spoilerMsg {
    font-size: 12px;
}

.spoilerMsg:hover {
    color: rgb(98, 0, 255);
    cursor: pointer;
}

.gameThoughts {
    display: none;
}

.gameThoughts.open {
    display: block;
}

.gameThoughts p {
    padding-top: 10px;
}

/* archive */
.thoughts p {
    padding-top: 10px;
}

.thoughts h2 {
    padding-top: 30px;
    text-decoration: underline;
}

/* 
 *
 * ARCHIVE SECTION
 *
 */

.topGames {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    margin-bottom: 50px;
}

.topGames h1 {
    color: #000000;
    border-bottom: solid #000000 2px;
    padding-bottom: 5px;
    width: 90%;
    max-width: 500px;
}

.topGames h2 {
    padding-top: 10px;
}

.inProgress {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    margin-bottom: 50px;
}

.inProgress h1 {
    color: #000000;
    border-bottom: solid #000000 2px;
    padding-bottom: 5px;
}

.gamesInProg {
    background-color: #525258;
    color: #ffffff;
    margin-top: 30px;
    border: solid #313131 2px;
    border-radius: 5px;
}

.gamesInProg h2 {
    padding-top: 15px;
    border-bottom: solid #ffffff 2px;
    width: 95%;
    text-align: left;
    margin: 0 auto;
    text-transform: uppercase;
}

.started {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 95%;
    margin: 0 auto;
}

.started span {
    font-weight: bold;
}

.gamesInProg img {
    width: 95%;
    padding-top: 15px;
}

.archive-wrapper {
    margin-top: 80px;
    margin-bottom: 100px;
}

.archive {
    margin: 0 auto;
}

.archive h1 {
    color: #000000;
    text-align: center;
    border-bottom: 2px solid #000000;
    padding-top: 40px;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

.archive h1:hover {
    color: rgb(24, 45, 90);
    cursor: pointer;
}

.archive h1 img {
    width: 20px;
}

.archive-covers2024,
.archive-covers2023,
.archive-covers2022,
.archive-covers2021 {
    width: 90%;
    max-width: 450px;
    min-width: 310px;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
    display: none;
}

.archive-covers img {
    height: 65px;
    border: solid black 1px;
}

.archive-covers2024 img {
    width: 200px;
}

.archive-covers h2 {
    padding-top: 20px;
}

@media (max-width: 600px) {

    .archive-covers img {
        width: 160px;
        height: 90px;
    }
}

@media (min-width: 600px) {

    .archive-covers img {
        min-height: 115px;
        min-width: 200px;
    }

    .archive-covers2024,
    .archive-covers2023,
    .archive-covers2022,
    .archive-covers2021 {
        max-width: 600px;
    }
}

@media (min-width: 768px) {

    .archive-covers2024,
    .archive-covers2023,
    .archive-covers2022,
    .archive-covers2021 {
        max-width: 650px;
    }
}

@media (min-width: 992px) {

    .archive-covers img {
        height: 115px;
    }

    .archive-covers2024,
    .archive-covers2023,
    .archive-covers2022,
    .archive-covers2021 {
        max-width: 750px;
    }
}

@media (min-width: 1200px) {
    .archive {
        width: 100%;
    }

    .archive-wrapper {
        width: 30%;
        max-width: 600px;
    }
}

.archive-covers2024.open,
.archive-covers2023.open,
.archive-covers2022.open,
.archive-covers2021.open {
    display: block;
}

/* 
 *
 * FOOTER SECTION
 *
 */

footer {
    background-color: #49494e;
    /* position: fixed;
    bottom: 0; */
    width: 100%;
}

footer p {
    color: #ffffff;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}

.about-wrapper {
    width: 80%;
    margin: 30px auto 0 auto;
}

.about-wrapper h1 {
    text-align: center;
}

.about-wrapper p {
    color: white;
    margin-top: 20px;
    padding: 15px;
    background-color: #525258;
    border: solid 2px #313131;
    border-radius: 5px;
}

@media (min-width: 1200px) {
    .about-wrapper {
        width: 50%;
    }
}

.table-wrapper {
    width: 80%;
    padding-bottom: 150px;
    margin: 0 auto;
}

table,
th,
td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    background-color: rgb(241, 241, 241);
}

table {
    width: 80%;
    background-color: rgb(216, 217, 255);
    margin: 0 auto;
}

th {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
}

td {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
}

tr td:nth-of-type(2),
tr td:nth-of-type(3) {
    text-align: left;
}

@media (max-width: 600px) {

    .table-wrapper {
        width: 100%;
    }

    table {
        width: 100%;
    }

    th {
        font-size: 0.6em;
    }

    td {
        font-size: 0.5em;
    }
}

@media (min-width: 601px) {

    .table-wrapper {
        width: 100%;
    }

    table {
        width: 100%;
    }

    th {
        font-size: 1em;
    }

    td {
        font-size: 1em;
    }
}