* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background-color: rgb(138, 138, 138);
}

.wrapper {
    background-color: rgb(187, 187, 187);
    height: 100px;
}

h1.logo {
    background: url(images/dpg_sm.png) no-repeat 5% center;
    width: 70%;
    margin-right: auto;
    height: 100px;
    text-indent: -10000px;
    float: left;
    padding-top: 10px;
}

nav {
    height: 100%;
}

.drop-icon {
    display: block;
    height: 100px;
    width: 90px;
    background: url(images/dropdown_bl.png) no-repeat 50% center;
    cursor: pointer;
    margin-left: auto;
}

header .wrapper {
    /* width: 100%;
    padding: 0; */
}

header nav ul {
    overflow: hidden;
    background-color: #505050;
    height: 0;
    max-width: 110px;
    min-width: 40px;
    margin-left: auto;
}

header nav ul.open {
    height: auto;
}

header nav ul li {
    float: none;
    text-align: right;
    width: 100%;
    margin: 0;
}

header nav ul li a {
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #404040;
    display: block;
    margin: 0;
    text-decoration: none;
}