* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background-color: #8799A1;
}

header .wrapper {
    background-color: #9095a3;
    height: 100px;
}

.logo {
    background: url(images/dpg.png) no-repeat 5% center;
    width: 70%;
    margin-right: auto;
    height: 100px;
    text-indent: -10000px;
    float: left;
    padding-top: 10px;
}

nav {
    height: 100%;
}

.drop-icon {
    display: block;
    height: 100px;
    width: 90px;
    background: url(images/dropdown_bl.png) no-repeat 50% center;
    cursor: pointer;
    margin-left: auto;
}

header .wrapper {
    /* width: 100%;
    padding: 0; */
}

header nav ul {
    overflow: hidden;
    background-color: #9a8da7;
    height: 0;
    max-width: 110px;
    min-width: 40px;
    margin-left: auto;
}

header nav ul.open {
    height: auto;
}

header nav ul li {
    float: none;
    text-align: right;
    width: 100%;
    margin: 0;
}

header nav ul li a {
    color: #1f1f1f;
    padding: 10px;
    border-bottom: 1px solid #404040;
    border-left: 1px solid #404040;
    display: block;
    margin: 0;
    text-decoration: none;
}

main h1 {
    color: white;
    text-align: center;
    padding-bottom: 10px;
    width: 90%;
    margin: 75px auto 0 auto;
    border-bottom: 1px solid #404040;
}

.game {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.game-cover {
    padding-top: 20px;
}

.game-title {
    color: white;
    text-decoration: underline;
}

.game-startDate,
.game-endDate {
    color: rgb(204, 204, 204);
    text-align: center;
}